<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Proyecto de Revisión{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <div class="navbar bg-base-100 shadow-md">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="/">Mi Proyecto RSL</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="{% url 'extraction:pending-list' %}">Extracciones Pendientes</a></li>
                {% if user.is_authenticated %}
                <li>
                    <span>
                        Bienvenido, <strong>{{ user.username }}</strong>
                    </span>
                </li>
                <li>
                    <a href="{% url 'admin:logout' %}">Cerrar Sesión</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'admin:login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <main class="p-4 md:p-8">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <aside>
            <p>Copyright © 2025 - Todos los derechos reservados</p>
        </aside>
    </footer>

</body>
</html>